.poweredby {
  color: #747474;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.buidlhub-logo-container {
  margin-top: -1.5rem !important;
}

.buidlhub-logo {
  max-width: 20vw;
  
}
