.maincontainer {
  background: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.container-header-bg {
  background: $discord;
}

.container-header-text {
  font-family: "Roboto", sans-serif;
  color: $white;
  font-weight: 600;
  padding: 0rem;
  margin: 0.5rem 0rem !important;
  @include md() {
    font-size: 1.6rem;
  }
}

.table-titles {
  font-family: "Roboto", sans-serif;
  color: $gray-600;
  font-weight: 400;
  @include md() {
    font-size: 1.25rem;
  }
}

.table-divider {
  height: 0.25px;
  width: 100%;
  border-top: 0.75px solid #d4d4d4;
}

.join-here-discord {
  background: $discord;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.server-join-name {
  font-family: "Roboto", sans-serif;
  color: $white;
  text-align: center;
  font-weight: 700;
  @include md() {
    font-size: 1.25rem;
    line-height: 1.3rem;
  }
}
