@import "./Badges/Badges.scss";
@import "./BUIDLHub/BUIDLHub.scss";
@import "./MainContainer/MainContainer.scss";

.bug-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 0.95rem;
}
