.navbar_container {
  background-color: $poap-blue-main;

  .top {
    top: 0px;
  }

  .nav_style {
    padding: 0;
    top: 0px;
  }

  .nav-margin-fix {
    @include md() {
      margin-top: -0.5rem;
      margin-bottom: -1.5rem;
    }
  }

  .nav_collapse_style {
    display: flex;
    @include xs() {
      justify-content: space-evenly;
      flex: column !important;
    }
    @include md() {
      justify-content: center;
      flex: row !important;
    }
  }

  .nav-right-margin-fix {
    @include md() {
      margin-top: 0rem !important;
    }
  }

  .nav-link-placement {
    @include md() {
      margin-top: 0.7rem;
    }
  }

  .nav_toggler_collapse_style {
    display: flex;
    @include xs() {
      flex: column !important;
      justify-content: flex-start;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      padding-left: 1rem;
    }
  }

  .w-100-important {
    max-width: 100vw !important;
    overflow: hidden !important;
  }

  .nav_items_collapse_style {
    @include xs() {
      margin-bottom: 0.5rem;
    }
  }
}
