.yourbadges {
  @include md() {
    // margin-top: 1rem !important;
    color: $gray-700;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    @include md() {
      font-size: 1.15rem;
    }
  }
}
